/* Center mermaid diagram */
.mermaid {
	text-align: center;
}

/* Data Control Language */
/* tbl-priviliges */
div.tbl-privileges div {
    text-align: center;
}

div.tbl-privileges div div table {
    border: var(--md-default-fg-color--light) 2px solid !important;
}

div.tbl-privileges div div table th {
    background-color: var(--md-default-fg-color--light);
    min-width: 0rem !important;
    padding: 0.2rem !important;
}

div.tbl-privileges div div table td {
    vertical-align: middle !important;
}

/* Data Types */
/* tbl-data_types */
div.tbl-data_types + div {
    text-align: center;
}

div.tbl-data_types + div div table {
    border: var(--md-default-fg-color--light) 2px solid !important;
}

div.tbl-data_types + div div table th {
    background-color: var(--md-default-fg-color--light);
    min-width: 0rem !important;
    padding: 0.2rem !important;
}

div.tbl-data_types + div div table td {
    /* padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important; */
    vertical-align: middle !important;
}

/* Joins */
.sqlJoinsEx {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sqlJoinsExFooter {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.value1 {
    background: #6FE7DD;
    opacity: 0.75;
    color: #6FE7DD;
    border: #555 solid;
    width: 50pc;
}

.value2 {
    background: #3490DE;
    opacity: 0.75;
    color: #3490DE;
    border: #555 solid;
    width: 50pc
}

.value3 {
    background: #6639A6;
    opacity: 0.75;
    color: #6639A6;
    border: #555 solid;
    width: 50pc
}

.value4 {
    background: #521262;
    opacity: 0.75;
    color: #521262;
    border: #555 solid;
    width: 50pc
}

.valueN {
    background: #FF8A65;
    opacity: 0.75;
    color: #333;
    border: #555 solid;
    width: 50pc
}

.subtext {
    font-size: small;
    opacity: 0.75;
}

.spacer {
    opacity: 0;
}

/* tbl-data_example */
div.tbl-data_example {
    text-align: center;
}

div.tbl-data_example div,
div.tbl-data_example + p + div {
    margin-bottom: 0px !important;    
    text-align: center;
}

div.tbl-data_example div div table,
div.tbl-data_example + p + div div table {
    border: var(--md-default-fg-color--light) 3px solid !important;
}

div.tbl-data_example div div table th,
div.tbl-data_example + p + div div table th {
    background-color: var(--md-default-fg-color--light);
    min-width: 0rem !important;
    padding: 0.2rem !important;
}

div.tbl-data_example div div table td,
div.tbl-data_example + p + div div table td {
    border-left: var(--md-typeset-table-color) 1px solid !important;
    border-right: var(--md-typeset-table-color) 1px solid !important;
    padding: 0.1rem !important;
}

div.tbl-data_example div + p {
    margin: 0rem !important;
    font-size: small !important;
}

/* tbl-join_example */
div.tbl-join_example {
    text-align: center;
}

div.tbl-join_example div {
    margin-bottom: 0px !important;
}

div.tbl-join_example div div table {
    border: var(--md-default-fg-color--lightest) 3px solid !important;   
}

div.tbl-join_example div div table th {
    background-color: var(--md-default-fg-color--lightest);
    min-width: 0rem !important;
    padding: 0.2rem !important;
}

div.tbl-join_example div div table td {
    border-left: var(--md-typeset-table-color) 1px solid !important;
    border-right: var(--md-typeset-table-color) 1px solid !important;
    padding: 0.1rem !important;
}

div.tbl-join_example div + p {
    margin: 0px !important;
    font-size: small !important;
}

img.sql_join {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* Window Functions */
div.tbl-WindowFunctions + div {
    text-align: center;
}

div.tbl-WindowFunctions + div div :not([class]) th {
    background-color: var(--md-default-fg-color--lightest);
    color: var(--md-default-fg-color);
    padding: .3em .5em;
    min-width: 1rem;
}

div.tbl-WindowFunctions + div div :not([class]) td  {
    padding: .2em .5em;
    vertical-align: middle;
    border: 2px solid var(--md-typeset-table-color);
}