/* ~~~ Tools ~~~ */
/* Table Header */
div#tbl-Tools + div div table:not([class]) th {
  background-color: var(--md-default-fg-color--light);
  color: var(--md-default-bg-color);
  padding: .5em .7em;
}

/* Table Rows */
div#tbl-Tools + div div table:not([class]) td {
  border: none;
  padding: .4em .6em;
  vertical-align: middle;
}

/* Alternate background colours */
div#tbl-Tools + div div table tbody tr:nth-child(even) {
  background: var(--md-default-fg-color--lightest);
}

div#tbl-Tools + div div table {
  border: none;
  border-radius: .2rem;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
  margin-left: auto;
  margin-right: auto;
}

/* ~~~ SD Cards ~~~ */
/* SD Card Images */
img[alt^="SDC-"] {
    width: 50px !important;
    height: 50px !important;
 }
  