/* Fonts */
:root {
  --md-text-font: "Roboto";
  --md-code-font: "RobotoMono"; 
}

/* --- Custom Admonitions --- */
/* command */
:root {
  --md-admonition-icon--command: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8 3a2 2 0 0 0-2 2v4a2 2 0 0 1-2 2H3v2h1a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2h2v-2H8v-5a2 2 0 0 0-2-2 2 2 0 0 0 2-2V5h2V3m6 0a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2h1v2h-1a2 2 0 0 0-2 2v4a2 2 0 0 1-2 2h-2v-2h2v-5a2 2 0 0 1 2-2 2 2 0 0 1-2-2V5h-2V3h2z"/></svg>');
}
.md-typeset .admonition.command,
  .md-typeset details.command {
  border-color: #90A9ED;
}

.md-typeset .command > .admonition-title,
  .md-typeset .command > summary {
  border-color: #90A9ED;
}

.md-typeset .command > .admonition-title::before,
  .md-typeset .command > summary::before {
  background-color: #90A9ED;
  -webkit-mask-image: var(--md-admonition-icon--command);
          mask-image: var(--md-admonition-icon--command);
}

/* output */
:root {
  --md-admonition-icon--output: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m17 21-2.75-3 1.16-1.16L17 18.43l3.59-3.59 1.16 1.41M12.8 21H5c-1.11 0-2-.89-2-2V5c0-1.11.89-2 2-2h14c1.11 0 2 .89 2 2v7.8c-.61-.35-1.28-.6-2-.72V5H5v14h7.08c.12.72.37 1.39.72 2m-.8-4H7v-2h5m2.68-2H7v-2h10v1.08c-.85.14-1.63.46-2.32.92M17 9H7V7h10"/></svg>');
  --md-admonition-bg-color--output: hsla(180, 60%, 80%, .5);
}

.md-typeset .admonition.output,
  .md-typeset details.output {
  border-color: #91DCDC;
}

.md-typeset .output > .admonition-title,
  .md-typeset .output > summary {
  background-color: var(--md-admonition-bg-color--output);
  border-color: #91DCDC;
}

.md-typeset .output > .admonition-title::before,
  .md-typeset .output > summary::before {
  background-color: #91DCDC;
  -webkit-mask-image: var(--md-admonition-icon--output);
          mask-image: var(--md-admonition-icon--output);
}

/* Table Header */
div#SANCTUM-table + div div table:not([class]) th {
  background-color: var(--md-default-fg-color--light);
  color: var(--md-default-bg-color);
  padding: .5em .7em;  
}

/* Table Rows */
div#SANCTUM-table + div div table:not([class]) td {
  border: none;
  padding: .4em .6em;
  vertical-align: middle;
}

/* Alternate background colours */
div#SANCTUM-table + div div table tbody tr:nth-child(even) {
  background: var(--md-default-fg-color--lightest);
}

div#SANCTUM-table + div div table {
  border: none;
  border-radius: .2rem;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
  margin-left: auto;
  margin-right: auto;
}