/* Games */
/* Satisfactory */
#tbl-Satisfactory {
    width: 1px;
  }

  /* Table Header */
div#tbl-Satisfactory + div div table:not([class]) th {
  background-color: var(--md-default-fg-color--light);
  color: var(--md-default-bg-color);
  padding: .5em .7em;
  
}

/* Table Rows */
div#tbl-Satisfactory + div div table:not([class]) td {
  border: none;
  padding: .4em .6em;
  vertical-align: middle;
}

/* Alternate background colours */
div#tbl-Satisfactory + div div table tbody tr:nth-child(even) {
  background: var(--md-default-fg-color--lightest);
}

/* Table Formatting */
div#tbl-Satisfactory + div {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
  
div#tbl-Satisfactory + div div table {
  border: none;
  border-radius: .2rem;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
  margin-left: auto;
  margin-right: auto;
}

/* Colour Code Boxes */
#colourCode {
    display: grid;
    align-content: center;
    color: var(--md-default-fg-color);
    text-shadow: 2px 2px var(--md-default-bg-color--light);
    width: 100px;
    height: 40px; 
}

/* Table captions */
#caption {
  font-size: x-small;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 20px;
}